html {
    /* Block.vue */
    --ui-block-bg: #fff;
    --ui-block-box-shadow: 0px 0px 12px rgba(0, 0, 0, .12);
    --ui-block-border-radius: 4px;
    --ui-block-padding: 12px;
    /* Block.vue */

    /* Loader.vue */
    --ui-loader-hue: 223;
    --ui-loader-bg: hsl(var(--ui-loader-hue), 10%, 90%);
    --ui-loader-fg: hsl(var(--ui-loader-hue), 10%, 10%);
    /* Loader.vue */
}