html.dark {
    /* Block.vue */
    --ui-block-bg: #1d1e1f;
    --ui-block-box-shadow: 0px 0px 12px rgba(0, 0, 0, .72);
    /* Block.vue */

    /* Loader.vue */
    --ui-loader-bg: hsl(var(--ui-loader-hue), 10%, 10%);
    --ui-loader-fg: hsl(var(--ui-loader-hue), 10%, 90%);
    /* Loader.vue */
}

/* Loader.vue */
html.dark .pl__ring {
    stroke: hsla(var(--ui-loader-hue), 10%, 90%, 0.1);
}

/* Loader.vue */