html.dark {
    /* Loader.vue */
    --ui-loader-bg: hsl(var(--ui-loader-hue), 10%, 10%);
    --ui-loader-fg: hsl(var(--ui-loader-hue), 10%, 90%);
    /* Loader.vue */
}

/* Loader.vue */
html.dark .pl__ring {
    stroke: hsla(var(--ui-loader-hue), 10%, 90%, 0.1);
}

/* Loader.vue */